<section class="article-bottom mbox">
  <div class="article-bottom__inner">
    <div class="article-bottom__left">
      <div class="text-block">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
        <br>
        <p style="color:black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
        <br>
        <p>Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
        <br>
        <p>However, there are reasons to follow the trends. Visiting such websites as Awwwards, FWA or CSS design awards may inspire you and as a result, help you to venture outside of your design habits. You can learn about the new visual worlds, which you can then (consciously or not) integrate with your graphic language. Watching the work of others helps you to keep on improving your skills while being up-to-date when it comes to the latest technologies.</p>
        <br>
        <p>Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
        <br>
        <p style="color:black;">However, there are reasons to follow the trends. Visiting such websites as Awwwards, FWA or CSS design awards may inspire you and as a result, help you to venture outside of your design habits. You can learn about the new visual worlds, which you can then (consciously or not) integrate with your graphic language. Watching the work of others helps you to keep on improving your skills while being up-to-date when it comes to the latest technologies.</p>
        <br>
        <p>Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
        <br>
        <p>However, there are reasons to follow the trends. Visiting such websites as Awwwards, FWA or CSS design awards may inspire you and as a result, help you to venture outside of your design habits. You can learn about the new visual worlds, which you can then (consciously or not) integrate with</p>
      </div>
      <div class="article-bottom__pic">
        <img src="images/article-img.jpg" alt="">
      </div>
      <a href="#" class="banner">
        <img src="images/banner.jpg" alt="banner">
      </a>
      <div class="text-block">
        <p style="color:black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
        <br>
        <p>Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
        <br>
        <p>However, there are reasons to follow the trends. Visiting such websites as Awwwards, FWA or CSS design awards may inspire you and as a result, help you to venture outside of your design habits. You can learn about the new visual worlds, which you can then (consciously or not) integrate with your graphic language. Watching the work of others helps you to keep on improving your skills while being up-to-date when it comes to the latest technologies.</p>
        <br>
        <p>Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
      </div>
      <ul class="navigation">
        <li class="navigation__item">
          <a href="#" class="arrow">Previous publication</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="arrow arrow--next">Next publication</a>
        </li>
      </ul>
    </div>
    <aside class="article-bottom__right">
      <ul class="article-bottom__right-list">
        <li class="article-item">
          <img src="images/article-pic03.jpg" alt="">
          <div class="article-item__hide">
            <ul class="stats">
              <li>0</li>
              <li>250</li>
            </ul>
            <a href="article.html" class="button button--white">Read</a>
          </div>
          <div class="article-item__content">
            <div class="new-item new-item--white">
              <p>new</p>
            </div>
            <div class="article-item__content-inner">
              <div class="article-item__title">
                <h3>Acu ipsum, tincidunt ac sapien et, easy da iscelerisque.</h3>
              </div>
              <div class="article-item__text cut-text" data-cut="60">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis.</p>
              </div>
            </div>
            <span class="date">19.06.2017</span>
          </div>
        </li>

        <li class="article-item">
          <img src="images/article-pic02.jpg" alt="">
          <div class="article-item__hide">
            <ul class="stats">
              <li>0</li>
              <li>250</li>
            </ul>
            <a href="article.html" class="button button--white">Read</a>
          </div>
          <div class="article-item__content">
            <div class="new-item new-item--white">
              <p>new</p>
            </div>
            <div class="article-item__content-inner">
              <div class="article-item__title">
                <h3>Acu ipsum, tincidunt ac sapien et, easy da iscelerisque.</h3>
              </div>
              <div class="article-item__text cut-text" data-cut="60">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis.</p>
              </div>
            </div>
            <span class="date">19.06.2017</span>
          </div>
        </li>

        <li class="article-item">
          <img src="images/article-pic03.jpg" alt="">
          <div class="article-item__hide">
            <ul class="stats">
              <li>0</li>
              <li>250</li>
            </ul>
            <a href="article.html" class="button button--white">Read</a>
          </div>
          <div class="article-item__content">
            <div class="new-item new-item--white">
              <p>new</p>
            </div>
            <div class="article-item__content-inner">
              <div class="article-item__title">
                <h3>Acu ipsum, tincidunt ac sapien et, easy da iscelerisque.</h3>
              </div>
              <div class="article-item__text cut-text" data-cut="60">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis.</p>
              </div>
            </div>
            <span class="date">19.06.2017</span>
          </div>
        </li>

        <li class="article-item">
          <img src="images/article-pic04.jpg" alt="">
          <div class="article-item__hide">
            <ul class="stats">
              <li>0</li>
              <li>250</li>
            </ul>
            <a href="article.html" class="button button--white">Read</a>
          </div>
          <div class="article-item__content">
            <div class="new-item new-item--white">
              <p>new</p>
            </div>
            <div class="article-item__content-inner">
              <div class="article-item__title">
                <h3>Acu ipsum, tincidunt ac sapien et, easy da iscelerisque.</h3>
              </div>
              <div class="article-item__text cut-text" data-cut="60">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis.</p>
              </div>
            </div>
            <span class="date">19.06.2017</span>
          </div>
        </li>

        <li class="article-item">
          <img src="images/article-pic05.jpg" alt="">
          <div class="article-item__hide">
            <ul class="stats">
              <li>0</li>
              <li>250</li>
            </ul>
            <a href="article.html" class="button button--white">Read</a>
          </div>
          <div class="article-item__content">
            <div class="new-item new-item--white">
              <p>new</p>
            </div>
            <div class="article-item__content-inner">
              <div class="article-item__title">
                <h3>Acu ipsum, tincidunt ac sapien et, easy da iscelerisque.</h3>
              </div>
              <div class="article-item__text cut-text" data-cut="60">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis.</p>
              </div>
            </div>
            <span class="date">19.06.2017</span>
          </div>
        </li>

        <li class="article-item">
          <img src="images/article-pic06.jpg" alt="">
          <div class="article-item__hide">
            <ul class="stats">
              <li>0</li>
              <li>250</li>
            </ul>
            <a href="article.html" class="button button--white">Read</a>
          </div>
          <div class="article-item__content">
            <div class="new-item new-item--white">
              <p>new</p>
            </div>
            <div class="article-item__content-inner">
              <div class="article-item__title">
                <h3>Acu ipsum, tincidunt ac sapien et, easy da iscelerisque.</h3>
              </div>
              <div class="article-item__text cut-text" data-cut="60">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis.</p>
              </div>
            </div>
            <span class="date">19.06.2017</span>
          </div>
        </li>
      </ul>
      <div class="subscribe">
        <div class="subscribe__top">
          <div class="subscribe__title">
            <h3>Subscribe us</h3>
          </div>
          <div class="subscribe__subtitle">
            <p>Every 2 weeks we will send our latest news to your email</p>
          </div>
        </div>
        <form action="ajax.php" method="post" class="subscribe__form">
          <div class="subscribe__form-field">
            <input type="email" placeholder="E-mail" required />
          </div>
          <button type="submit" class="button button--fill js-btnAnim">
            <span>Subsribe</span>
          </button>
        </form>
      </div>
    </aside>
  </div>
</section>