<section class="article-top mbox">
  <div class="block-title">
    <h1>Article Title</h1>
  </div>
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a href="index.html">Home</a>
    </li>
    <li class="breadcrumbs__item">
      <a href="#">Article Title</a>
    </li>
  </ul>
  <div class="article-item article-item--main new">
    <a href="#" class="article-item__link">Come back</a>
    <img src="images/article-pic.jpg" alt="">
    <div class="article-item__content">
      <div class="new-item new-item--white">
        <p>new</p>
      </div>
      <div class="article-item__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula feugiat consectetur. Aliquam non accumsan ipsum, id cursus massa</p>
      </div>
      <div class="article-item__info-wrap">
        <ul class="stats">
          <li>0</li>
          <li>250</li>
        </ul>
        <span class="date">19.06.2017</span>
      </div>
      <ul class="hashtags">
        <li class="hashtags__item">
          <a href="search.html">#public</a>
        </li>
        <li class="hashtags__item">
          <a href="search.html">#fermentum</a>
        </li>
        <li class="hashtags__item">
          <a href="search.html">#montes</a>
        </li>
        <li class="hashtags__item">
          <a href="search.html">#public</a>
        </li>
        <li class="hashtags__item">
          <a href="search.html">#fermentum</a>
        </li>
      </ul>
    </div>
  </div>
</section>