<section class="category">
	<div class="mbox">
	  <div class="block-title">
	    <h1>Category</h1>
	  </div>
	  <ul class="breadcrumbs">
	    <li class="breadcrumbs__item">
	      <a href="index.html">Home</a>
	    </li>
	    <li class="breadcrumbs__item">
	      <a href="#">Category</a>
	    </li>
	  </ul>
  </div>	

<!--   <ul class="sort-btn">
    <li class="sort-btn__item">
      <a href="#" class="button">Top 20 publications</a>
    </li>
    <li class="sort-btn__item">
      <a href="#" class="button">Cryptocurrencies</a>
    </li>
  </ul> -->

  <div class="mbox2">
  	<div class="wrap-publications">
  		<div class="publication new">
				<div class="new-item"><p>new</p></div>
				<div class="publication__title"><h4>News arcu ipsum, tincidunt ac sapien et, easy da iscelerisque neque. </h4></div>
				<div class="publication__desc">
					<p>Until recently the design world was dominated by positions which were closed, symmetric, and static. With 2016 came a lot of websites that strayed from this style. </p>
					<p>Open compositions of loosely suspended elements that are fleeing somewhere off-screen are gaining opularity - examples of such work can be seen at romainpsd durimel.io, or booneselections.com. </p>
				</div>
				<ul class="hashtags hashtags--gray">
			        <li class="hashtags__item">
			          <a href="search.html">#public</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#fermentum</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#montes</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#public</a>
			        </li>
			    </ul>
			    <div class="article-main__info-wrap">
			        <ul class="stats stats--gray">
			            <li>0</li>
			            <li>250</li>
			        </ul>
			        <span class="date date--gray">19.06.2017</span>
			    </div>
			    <a href="#" class="button">Read</a>
			</div>
			<div class="publication new">
				<div class="new-item"><p>new</p></div>
				<div class="publication__title"><h4>Publication 2</h4></div>
				<div class="publication__desc">
					<p>Until recently the design world was dominated by positions which were closed, symmetric, and static. With 2016 came a lot of websites that strayed from this style.</p>
					<p>Open compositions of loosely suspended elements that are fleeing somewhere off-screen are gaining opularity.</p>
				</div>
				<ul class="hashtags hashtags--gray">
			        <li class="hashtags__item">
			          <a href="search.html">#public</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#fermentum</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#montes</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#public</a>
			        </li>
			    </ul>
			    <div class="article-main__info-wrap">
			        <ul class="stats stats--gray">
			            <li>0</li>
			            <li>250</li>
			        </ul>
			        <span class="date date--gray">19.06.2017</span>
			    </div>
			    <a href="#" class="button">Read</a>
			</div>
			<div class="publication new">
				<div class="new-item"><p>new</p></div>
				<div class="publication__title"><h4>Arcu ipsum, tincidunt ac sapien et, easy da isce.</h4></div>
				<div class="publication__desc">
					<p>2016 also broke the rule of symmetry, which dominated the industry for quite a long time. </p>
					<p>Many designers created asymmetric layouts which are not perfectly balanced on the left and right sides. As examples I would like to show you a great website culture.</p>
				</div>
				<ul class="hashtags hashtags--gray">
			        <li class="hashtags__item">
			          <a href="search.html">#public</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#fermentum</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#montes</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#public</a>
			        </li>
			    </ul>
			    <div class="article-main__info-wrap">
			        <ul class="stats stats--gray">
			            <li>0</li>
			            <li>250</li>
			        </ul>
			        <span class="date date--grey">19.06.2017</span>
			    </div>
			    <a href="#" class="button">Read</a>
			</div>
			<div class="publication new">
				<div class="new-item"><p>new</p></div>
				<div class="publication__title"><h4>News arcu ipsum, tincidunt ac sapien et, easy da iscelerisque neque. </h4></div>
				<div class="publication__desc">
					<p>Until recently the design world was dominated by positions which were closed, symmetric, and static. With 2016 came a lot of websites that strayed from this style. </p>
					<p>Open compositions of loosely suspended elements that are fleeing somewhere off-screen are gaining opularity - examples of such work can be seen at romainpsd durimel.io, or booneselections.com. </p>
				</div>
				<ul class="hashtags hashtags--gray">
			        <li class="hashtags__item">
			          <a href="search.html">#public</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#fermentum</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#montes</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#public</a>
			        </li>
			    </ul>
			    <div class="article-main__info-wrap">
			        <ul class="stats stats--gray">
			            <li>0</li>
			            <li>250</li>
			        </ul>
			        <span class="date date--gray">19.06.2017</span>
			    </div>
			    <a href="#" class="button">Read</a>
			</div>
			<div class="publication new">
				<div class="new-item"><p>new</p></div>
				<div class="publication__title"><h4>Publication 2</h4></div>
				<div class="publication__desc">
					<p>Until recently the design world was dominated by positions which were closed, symmetric, and static. With 2016 came a lot of websites that strayed from this style.</p>
					<p>Open compositions of loosely suspended elements that are fleeing somewhere off-screen are gaining opularity.</p>
				</div>
				<ul class="hashtags hashtags--gray">
			        <li class="hashtags__item">
			          <a href="search.html">#public</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#fermentum</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#montes</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#public</a>
			        </li>
			    </ul>
			    <div class="article-main__info-wrap">
			        <ul class="stats stats--gray">
			            <li>0</li>
			            <li>250</li>
			        </ul>
			        <span class="date date--gray">19.06.2017</span>
			    </div>
			    <a href="#" class="button">Read</a>
			</div>
			<div class="publication new">
				<div class="new-item"><p>new</p></div>
				<div class="publication__title"><h4>Arcu ipsum, tincidunt ac sapien et, easy da isce.</h4></div>
				<div class="publication__desc">
					<p>2016 also broke the rule of symmetry, which dominated the industry for quite a long time. </p>
					<p>Many designers created asymmetric layouts which are not perfectly balanced on the left and right sides. As examples I would like to show you a great website culture.</p>
				</div>
				<ul class="hashtags hashtags--gray">
			        <li class="hashtags__item">
			          <a href="search.html">#public</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#fermentum</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#montes</a>
			        </li>
			        <li class="hashtags__item">
			          <a href="search.html">#public</a>
			        </li>
			    </ul>
			    <div class="article-main__info-wrap">
			        <ul class="stats stats--gray">
			            <li>0</li>
			            <li>250</li>
			        </ul>
			        <span class="date date--grey">19.06.2017</span>
			    </div>
			    <a href="#" class="button">Read</a>
			</div>
		</div>

<!--   	<div class="pagination">
      <a href="#" class="arrow"></a>
      <ul class="pagination__list">
        <li class="pagination__list-item">
          <a href="#">...</a>
        </li>
        <li class="pagination__list-item">
          <a href="#">2</a>
        </li>
        <li class="pagination__list-item">
          <a href="#">3</a>
        </li>
        <li class="pagination__list-item">
          <a href="#">4</a>
        </li>
        <li class="pagination__list-item">
          <a href="#">5</a>
        </li>
        <li class="pagination__list-item">6</li>
        <li class="pagination__list-item">
          <a href="#">7</a>
        </li>
        <li class="pagination__list-item">
          <a href="#">8</a>
        </li>
        <li class="pagination__list-item">
          <a href="#">9</a>
        </li>
        <li class="pagination__list-item">
          <a href="#">...</a>
        </li>
      </ul>
      <a href="#" class="arrow arrow--next"></a>
    </div> -->
	<div class="pagination">
		<div class='wp-pagenavi'>
			<span class='current'>1</span>
			<a class="page larger" title="Page 2" href="#">2</a>
			<a class="nextpostslink" rel="next" href="#">»</a>
		</div>
	</div>
    <a href="#" class="banner">
      <img src="images/banner.jpg" alt="banner">
    </a>
  </div>
</section>