<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
	<div class="mbox">
		<div class="footer__inner">
				<div class="footer__left-wrap">
			    <a href="index.html" class="main-logo">
			      <img src="images/main-logo.png" alt="logo">
			    </a>
	        <ul class="nav-list nav-list--footer">
            <li class="nav-list__item">
              <a href="index.html">Main Page</a>
            </li>
            <li class="nav-list__item">
              <a href="category.html">Top Public</a>
            </li>
            <li class="nav-list__item">
              <a href="interesting.html">Interesting</a>
            </li>
            <li class="nav-list__item">
              <a href="about.html">About us</a>
            </li>
            <li class="nav-list__item dropdown">
              <a href="#">Category</a>
              <ul>
                <li >
                  <a href="category.html">Category 2</a>
                </li>
                <li>
                  <a href="category.html">Category 3</a>
                </li>
                <li>
                  <a href="category.html">Category 4</a>
                </li>
                <li>
                  <a href="category.html">Category 5</a>
                </li>
              </ul>
            </li>
	        </ul>
        </div>
        <div class="footer__contacts-wrap">
          <ul class="social">
            <li class="social__item">
              <a href="#" target="_blank">
                <img class="social__icon" src="images/facebook-icon.png" alt="">
                <img class="social__hover" src="images/facebook-blue-icon.png" alt="" >
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank">
                <img class="social__icon" src="images/googleplus-icon.png" alt="">
                <img class="social__hover" src="images/googleplus-red-icon.png" alt="">
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank">
                <img class="social__icon" src="images/twitter-icon.png" alt="">
                <img class="social__hover" src="images/twitter-blue-icon.png" alt="">
              </a>
            </li>
          </ul>
          <ul class="footer__contacts">
          	<li class="footer__contacts-item">
              <span>+7 (810) 177 54 89</span>
          	</li>
          	<li class="footer__contacts-item">
          		<span>Icodope@gmail.com</span>
          	</li>
          	<li class="footer__contacts-item">
          		<a href="https://facebook.com" target="_blank">We are in Facebook</a>
          	</li>
          	<li class="footer__contacts-item">
          		<a href="https://twitter.com" target="_blank">We are in Twitter</a>
          	</li>
          </ul>
        </div>
        <div class="subscribe subscribe--footer">
	        <div class="subscribe__top">
	          <div class="subscribe__title">
	            <h3>Subscribe us</h3>
	          </div>
	          <div class="subscribe__subtitle">
	            <p>Every 2 weeks we will send our latest news to your email</p>
	          </div>
	        </div>
	        <form method="post" action="ajax.php" class="subscribe__form">
	          <div class="subscribe__form-field">
	            <input type="email" name="email" placeholder="E-mail" required />
	          </div>
	          <button type="submit" class="button js-btnAnim">
              <span>Subsribe</span>
            </button>
	        </form>
      	</div>
	    </div>
    </div>
  	<div class="footer__policity">
    	<a href="policity.html">Website Policity</a>
    </div>
</footer>
<!-- /FOOTER -->
