<!-- HEADER -->
<header id="header" class="header">
    <div class="mbox">
      <div class="burger">
        <div class="burger-brick"></div>
        <div class="burger-brick middle"></div>
        <div class="burger-brick"></div>
      </div>
      <div class="header__inner">
        <a href="index.html" class="main-logo">
          <img src="images/main-logo.png" alt="logo">
        </a>
        <div class="header__content-wrap">
          <div class="header__content">
            <div class="header__content-top">
              <ul class="social">
                <li class="social__item">
                  <a href="#" target="_blank">
                    <img class="social__icon" src="images/facebook-icon.png" alt="">
                    <img class="social__hover" src="images/facebook-blue-icon.png" alt="" >
                  </a>
                </li>
                <li class="social__item">
                  <a href="#" target="_blank">
                    <img class="social__icon" src="images/googleplus-icon.png" alt="">
                    <img class="social__hover" src="images/googleplus-red-icon.png" alt="">
                  </a>
                </li>
                <li class="social__item">
                  <a href="#" target="_blank">
                    <img class="social__icon" src="images/twitter-icon.png" alt="">
                    <img class="social__hover" src="images/twitter-blue-icon.png" alt="">
                  </a>
                </li>
              </ul>
              <span class="header__tel">+7 (810) 177 54 89</span>
            </div>
            <div class="header__content-bottom">
              <ul class="header__lang">
                <li class="header__lang-item">
                  <a href="#">RU</a>
                </li>
                <li class="header__lang-item">
                  <a href="#" class="active">EN</a>
                </li>
              </ul>
              <div class="header__search">
                <a href="#" class="js-search">Search</a>
                <form method="post" action="ajax.php" class="header__search-form">
                  <div class="search-field js-header-search">
                    <button type="submit"></button>
                    <input type="text" name="search" placeholder="Search..." />
                  </div>
                </form>
              </div>
              <ul class="nav-list">
                <li class="nav-list__item">
                  <a href="index.html">Main Page</a>
                </li>
                <li class="nav-list__item">
                  <a href="category.html">Top Public</a>
                </li>
                <li class="nav-list__item">
                  <a href="interesting.html">Interesting</a>
                </li>
                <li class="nav-list__item">
                  <a href="about.html">About us</a>
                </li>
                <li class="nav-list__item dropdown">
                  <a href="#">Category</a>
                  <ul>
                    <li>
                      <a href="category.html">Category 2</a>
                    </li>
                    <li>
                      <a href="category.html">Category 3</a>
                    </li>
                    <li>
                      <a href="category.html">Category 4</a>
                    </li>
                    <li>
                      <a href="category.html">Category 5</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-list__item">
                  <a href="contacts.html">Contacts</a>
                </li>
                <li class="nav-list__item">
                  <a href="price.html">Price</a>
                </li>
              </ul>
            </div>
          </div>
          <a href="#" class="button js-popup">Contact us</a>
        </div>
      </div>
  </div>
</header>
<!-- /HEADER -->

