<section class="interestng">
  <div class="mbox">
    <div class="block-title">
      <h1>Interesting</h1>
    </div>
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#">Interesting</a>
      </li>
    </ul>
  </div>
<!--   <ul class="sort-btn">
    <li class="sort-btn__item">
      <a href="#" class="button">Top 20 publications</a>
    </li>
    <li class="sort-btn__item">
      <a href="#" class="button">Cryptocurrencies</a>
    </li>
  </ul> -->
  <div class="mbox2">
    <ul class="interestng__list">
      <li class="article-item">
        <img src="images/article-pic03.jpg" alt="">
        <div class="article-item__hide">
          <ul class="stats">
            <li>0</li>
            <li>250</li>
          </ul>
          <a href="article.html" class="button button--white">Read</a>
        </div>
        <div class="article-item__content">
          <div class="new-item">
            <p>new</p>
          </div>
          <div class="article-item__content-inner">
            <ul class="hashtags">
              <li class="hashtags__item">
                <a href="search.html">#public</a>
              </li>
              <li class="hashtags__item">
                <a href="search.html">#fermentum</a>
              </li>
              <li class="hashtags__item">
                <a href="search.html">#montes</a>
              </li>
            </ul>
            <div class="article-item__title">
              <h3>Acu ipsum, tincidunt ac sapien et, easy da iscelerisque.</h3>
            </div>
            <div class="article-item__text cut-text" data-cut="125">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis arcu ipsum, tincidunt ac sapien et, scelerisque penatibus luctus.</p>
            </div>
          </div>
          <span class="date">19.06.2017</span>
        </div>
      </li>

      <li class="article-item">
        <img src="images/article-pic02.jpg" alt="">
        <div class="article-item__hide">
          <ul class="stats">
            <li>0</li>
            <li>250</li>
          </ul>
          <a href="article.html" class="button button--white">Read</a>
        </div>
        <div class="article-item__content">
          <div class="new-item">
            <p>new</p>
          </div>
          <div class="article-item__content-inner">
            <ul class="hashtags">
              <li class="hashtags__item">
                <a href="search.html">#public</a>
              </li>
              <li class="hashtags__item">
                <a href="search.html">#fermentum</a>
              </li>
              <li class="hashtags__item">
                <a href="search.html">#montes</a>
              </li>
            </ul>
            <div class="article-item__title">
              <h3>Acu ipsum, tincidunt ac sapien et, easy da iscelerisque.</h3>
            </div>
            <div class="article-item__text cut-text" data-cut="125">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis arcu ipsum, tincidunt ac sapien et, scelerisque penatibus luctus.</p>
            </div>
          </div>
          <span class="date">19.06.2017</span>
        </div>
      </li>

      <li class="article-item">
        <img src="images/article-pic03.jpg" alt="">
        <div class="article-item__hide">
          <ul class="stats">
            <li>0</li>
            <li>250</li>
          </ul>
          <a href="article.html" class="button button--white">Read</a>
        </div>
        <div class="article-item__content">
          <div class="new-item">
            <p>new</p>
          </div>
          <div class="article-item__content-inner">
            <ul class="hashtags">
              <li class="hashtags__item">
                <a href="search.html">#public</a>
              </li>
              <li class="hashtags__item">
                <a href="search.html">#fermentum</a>
              </li>
              <li class="hashtags__item">
                <a href="search.html">#montes</a>
              </li>
            </ul>
            <div class="article-item__title">
              <h3>Acu ipsum, tincidunt ac sapien et, easy da iscelerisque.</h3>
            </div>
            <div class="article-item__text cut-text" data-cut="125">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis arcu ipsum, tincidunt ac sapien et, scelerisque penatibus luctus.</p>
            </div>
          </div>
          <span class="date">19.06.2017</span>
        </div>
      </li>

      <li class="article-item">
        <img src="images/article-pic04.jpg" alt="">
        <div class="article-item__hide">
          <ul class="stats">
            <li>0</li>
            <li>250</li>
          </ul>
          <a href="article.html" class="button button--white">Read</a>
        </div>
        <div class="article-item__content">
          <div class="new-item">
            <p>new</p>
          </div>
          <div class="article-item__content-inner">
            <ul class="hashtags">
              <li class="hashtags__item">
                <a href="search.html">#public</a>
              </li>
              <li class="hashtags__item">
                <a href="search.html">#fermentum</a>
              </li>
              <li class="hashtags__item">
                <a href="search.html">#montes</a>
              </li>
            </ul>
            <div class="article-item__title">
              <h3>Acu ipsum, tincidunt ac sapien et, easy da iscelerisque.</h3>
            </div>
            <div class="article-item__text cut-text" data-cut="125">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis arcu ipsum, tincidunt ac sapien et, scelerisque penatibus luctus.</p>
            </div>
          </div>
          <span class="date">19.06.2017</span>
        </div>
      </li>

      <li class="article-item">
        <img src="images/article-pic05.jpg" alt="">
        <div class="article-item__hide">
          <ul class="stats">
            <li>0</li>
            <li>250</li>
          </ul>
          <a href="article.html" class="button button--white">Read</a>
        </div>
        <div class="article-item__content">
          <div class="new-item">
            <p>new</p>
          </div>
          <div class="article-item__content-inner">
            <ul class="hashtags">
              <li class="hashtags__item">
                <a href="search.html">#public</a>
              </li>
              <li class="hashtags__item">
                <a href="search.html">#fermentum</a>
              </li>
              <li class="hashtags__item">
                <a href="search.html">#montes</a>
              </li>
            </ul>
            <div class="article-item__title">
              <h3>Acu ipsum, tincidunt ac sapien et, easy da iscelerisque.</h3>
            </div>
            <div class="article-item__text cut-text" data-cut="125">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis arcu ipsum, tincidunt ac sapien et, scelerisque penatibus luctus.</p>
            </div>
          </div>
          <span class="date">19.06.2017</span>
        </div>
      </li>

      <li class="article-item">
        <img src="images/article-pic06.jpg" alt="">
        <div class="article-item__hide">
          <ul class="stats">
            <li>0</li>
            <li>250</li>
          </ul>
          <a href="article.html" class="button button--white">Read</a>
        </div>
        <div class="article-item__content">
          <div class="new-item">
            <p>new</p>
          </div>
          <div class="article-item__content-inner">
            <ul class="hashtags">
              <li class="hashtags__item">
                <a href="search.html">#public</a>
              </li>
              <li class="hashtags__item">
                <a href="search.html">#fermentum</a>
              </li>
              <li class="hashtags__item">
                <a href="search.html">#montes</a>
              </li>
            </ul>
            <div class="article-item__title">
              <h3>Acu ipsum, tincidunt ac sapien et, easy da iscelerisque.</h3>
            </div>
            <div class="article-item__text cut-text" data-cut="125">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis arcu ipsum, tincidunt ac sapien et, scelerisque penatibus luctus.</p>
            </div>
          </div>
          <span class="date">19.06.2017</span>
        </div>
      </li>
    </ul>
<!--     <div class="pagination">
      <a href="#" class="arrow"></a>
      <ul class="pagination__list">
        <li class="pagination__list-item">
          <a href="#">...</a>
        </li>
        <li class="pagination__list-item">
          <a href="#">2</a>
        </li>
        <li class="pagination__list-item">
          <a href="#">3</a>
        </li>
        <li class="pagination__list-item">
          <a href="#">4</a>
        </li>
        <li class="pagination__list-item">
          <a href="#">5</a>
        </li>
        <li class="pagination__list-item">6</li>
        <li class="pagination__list-item">
          <a href="#">7</a>
        </li>
        <li class="pagination__list-item">
          <a href="#">8</a>
        </li>
        <li class="pagination__list-item">
          <a href="#">9</a>
        </li>
        <li class="pagination__list-item">
          <a href="#">...</a>
        </li>
      </ul>
      <a href="#" class="arrow arrow--next"></a>
    </div> -->
    <div class="pagination">
      <div class='wp-pagenavi'>
        <span class='current'>1</span>
        <a class="page larger" title="Page 2" href="#">2</a>
        <a class="nextpostslink" rel="next" href="#">»</a>
      </div>
    </div>
    <a href="#" class="banner">
      <img src="images/banner.jpg" alt="banner">
    </a>
  </div>
</section>