<section class="main-news mbox">
  <div class="main-news__title">
    <h1>ICODOPE</h1>
  </div>
  <ul class="main-news__list cfix">
    <li class="article-item new">
      <img src="images/article-pic03.jpg" alt="">
      <div class="article-item__hide">
        <ul class="stats">
          <li>0</li>
          <li>250</li>
        </ul>
        <a href="article.html" class="button button--white">Read</a>
      </div>
      <div class="article-item__content">
        <div class="new-item new-item--white">
          <p>new</p>
        </div>
        <div class="article-item__content-inner">
          <ul class="hashtags">
            <li class="hashtags__item">
              <a href="search.html">#public</a>
            </li>
            <li class="hashtags__item">
              <a href="search.html">#fermentum</a>
            </li>
            <li class="hashtags__item">
              <a href="search.html">#montes</a>
            </li>
            <li class="hashtags__item">
              <a href="search.html">#public</a>
            </li>
            <li class="hashtags__item">
              <a href="search.html">#fermentum</a>
            </li>
            <li class="hashtags__item">
              <a href="search.html">#fermentum</a>
            </li>
            <li class="hashtags__item">
              <a href="search.html">#fermentum</a>
            </li>
          </ul>
          <div class="article-item__title">
            <h3>Watching the work of others helps you to.</h3>
          </div>
          <div class="article-item__text cut-text" data-cut="490">
            <p>Until recently the design world was dominated by positions which were closed, symmetric, and static. With 2016 came a lot of websites that strayed from this style.</p> 
            <br>
            <p>Open compositions of loosely suspended elements that are fleeing somewhere off-screen are gaining opularity - examples of such work can be seen at romainpsd.com, durimel.io, or booneselections.com. 
            Distribution of elements on these websites gives the impression that they still "exist" somewhere beyond the edge of the monitor.</p>
            <br>
            <p>A great role in this process is played.</p>
          </div>
        </div>
        <span class="date">19.06.2017</span>
      </div>
    </li>

    <li class="article-item new">
      <img src="images/article-pic02.jpg" alt="">
      <div class="article-item__hide">
        <ul class="stats">
          <li>0</li>
          <li>250</li>
        </ul>
        <a href="article.html" class="button button--white">Read</a>
      </div>
      <div class="article-item__content">
        <div class="new-item new-item--white">
          <p>new</p>
        </div>
        <div class="article-item__content-inner">
          <ul class="hashtags">
            <li class="hashtags__item">
              <a href="search.html">#public</a>
            </li>
            <li class="hashtags__item">
              <a href="search.html">#fermentum</a>
            </li>
            <li class="hashtags__item">
              <a href="search.html">#montes</a>
            </li>
          </ul>
          <div class="article-item__title">
            <h3>Acu ipsum, tincidunt ac sapien et, easy da iscelerisque.</h3>
          </div>
          <div class="article-item__text cut-text" data-cut="125">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis arcu ipsum, tincidunt ac sapien et, scelerisque penatibus luctus. Lorem ipsum dolor sit amet. </p>
          </div>
        </div>
        <span class="date">19.06.2017</span>
      </div>
    </li>

    <li class="article-item new">
      <img src="images/article-pic03.jpg" alt="">
      <div class="article-item__hide">
        <ul class="stats">
          <li>0</li>
          <li>250</li>
        </ul>
        <a href="article.html" class="button button--white">Read</a>
      </div>
      <div class="article-item__content">
        <div class="new-item new-item--white">
          <p>new</p>
        </div>
        <div class="article-item__content-inner">
          <ul class="hashtags">
            <li class="hashtags__item">
              <a href="search.html">#public</a>
            </li>
            <li class="hashtags__item">
              <a href="search.html">#fermentum</a>
            </li>
            <li class="hashtags__item">
              <a href="search.html">#montes</a>
            </li>
          </ul>
          <div class="article-item__title">
            <h3>Acu ipsum, tincidunt ac sapien et, easy da iscelerisque.</h3>
          </div>
          <div class="article-item__text cut-text" data-cut="125">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis arcu ipsum, tincidunt ac sapien et, scelerisque penatibus luctus. Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
        <span class="date">19.06.2017</span>
      </div>
    </li>
  </ul>
</section>