<section class="advertising-wrap">
    <div class="mbox">
        <div class="block-title">
            <h2>advertising</h2>
        </div>
    </div>
    <div class="mbox2 advertising">
        <div class="advertising__left">
            <div class="subscribe">
                <div class="subscribe__top">
                    <div class="subscribe__title">
                        <h3>Subscribe us</h3>
                    </div>
                    <div class="subscribe__subtitle">
                        <p>Every 2 weeks we will send our latest news to your email</p>
                    </div>
                </div>
                <form action="ajax.php" method="post" class="subscribe__form">
                    <div class="subscribe__form-field">
                        <input type="email" name="email" placeholder="E-mail" required />
                    </div>
                    <button type="submit" class="button button--fill js-btnAnim">
                      <span>Subsribe</span>
                    </button>
                </form>
            </div>
            <div class="advertising__video">
            	<div class="pic"><img src="images/video-banner.png" alt=""></div>
                <a href="#" class="video-button"></a>
            	<div class="video"><iframe id="video" src="https://www.youtube.com/embed/Ip_ApwVXwO8?&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe></div>
            </div>
        </div>
        <div class="advertising__right">
        	<a href="#" class="banner"><img src="images/main-baner.png" alt=""></a>
        	<div id="tag-cloud" class="tag-cloud"></div>
        </div>
    </div>
</section>