<section class="prise">
    <div class="mbox">
        <div class="block-title">
            <h1>Price</h1>
        </div>
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="#">Price</a>
            </li>
        </ul>
    </div>
    <div class="mbox2">
        <div class="prise__wrap">
            <div class="prise__tabs">
                <ul class="cfix">
                    <li class="prise__col prise__col100">
                        <a href="#">
                            <div class="title">Main page</div>
                            <div class="desc">Advertising unit</div>
                        </a>
                    </li>
                    <li class="prise__col prise__col100">
                        <a href="#">
                            <div class="title">Category page</div>
                            <div class="desc">Advertising unit</div>
                        </a>
                    </li>
                    <li class="prise__col prise__col100">
                        <a href="#">
                            <div class="title">Search results</div>
                            <div class="desc">Advertising unit</div>
                        </a>
                    </li>
                    <li class="prise__col prise__col100">
                        <a href="#">
                            <div class="title">Price</div>
                            <div class="desc">Advertising unit</div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="prise__content">
                <div class="prise__desk">
                    <h4>News arcu ipsum, tincidunt ac sapien et, easy da iscelerisque neque. </h4>
                    <p>Until recently the design world was dominated by positions which were closed, symmetric, and static. With 2016 came a lot of websites that strayed from this style. </p>
                    <p>Open compositions of loosely suspended elements that are fleeing somewhere off-screen are gaining opularity - examples of such work can be seen at romainpsd durimel.io, or booneselections.com. </p>
                    <p>Until recently the design world was dominated by positions which were closed, symmetric, and static. With 2016 came a lot of websites that strayed from this style. </p>
                </div>
                <div class="prise__desk">
                    <h4>1 News arcu ipsum, tincidunt ac sapien et, easy da iscelerisque neque. </h4>
                    <p>Until recently the design world was dominated by positions which were closed, symmetric, and static. With 2016 came a lot of websites that strayed from this style. </p>
                    <p>Open compositions of loosely suspended elements that are fleeing somewhere off-screen are gaining opularity - examples of such work can be seen at romainpsd durimel.io, or booneselections.com. </p>
                    <p>Until recently the design world was dominated by positions which were closed, symmetric, and static. With 2016 came a lot of websites that strayed from this style. </p>
                </div>
                <div class="prise__desk">
                    <h4>2 News arcu ipsum, tincidunt ac sapien et, easy da iscelerisque neque. </h4>
                    <p>Until recently the design world was dominated by positions which were closed, symmetric, and static. With 2016 came a lot of websites that strayed from this style. </p>
                    <p>Open compositions of loosely suspended elements that are fleeing somewhere off-screen are gaining opularity - examples of such work can be seen at romainpsd durimel.io, or booneselections.com. </p>
                    <p>Until recently the design world was dominated by positions which were closed, symmetric, and static. With 2016 came a lot of websites that strayed from this style. </p>
                </div>
                <div class="prise__desk">
                    <h4>3 News arcu ipsum, tincidunt ac sapien et, easy da iscelerisque neque. </h4>
                    <p>Until recently the design world was dominated by positions which were closed, symmetric, and static. With 2016 came a lot of websites that strayed from this style. </p>
                    <p>Open compositions of loosely suspended elements that are fleeing somewhere off-screen are gaining opularity - examples of such work can be seen at romainpsd durimel.io, or booneselections.com. </p>
                    <p>Until recently the design world was dominated by positions which were closed, symmetric, and static. With 2016 came a lot of websites that strayed from this style. </p>
                </div>
            </div>
        </div>
        <a href="#" class="banner">
	        <img src="images/banner.jpg" alt="banner">
	    </a>
    </div>
</section>